name: Build APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y python3-pip python3-setuptools git zip unzip openjdk-17-jdk
        pip install --upgrade pip buildozer cython virtualenv
        pip install kivy

    - name: Initialize buildozer
      run: buildozer init

    - name: Build APK
      run: buildozer android debug

    - name: Upload APK Artifact
      uses: actions/upload-artifact@v3
      with:
        name: MyApp
        path: bin/*.apk
